#REDIS_HOST=localhost
#REDIS_PORT=6379
REDIS_HOST=********************.redns.redis-cloud.com
REDIS_PORT=19756
REDIS_USERNAME=default
REDIS_PASSWORD=*********************
SECRET_KEY="YOUR_SECRET_KEY"

